@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-image {
  background-image: url("https://live.staticflickr.com/1642/24660566525_d6659a5c3a_b.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
